/*Configure the tab buttons*/
.sheet-character,
.sheet-config,
.sheet-journal {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
	display: block;
}

input.sheet-hpmodtoggle:not([value='on']) ~ div .sheet-hpmoddiv {
    height:0px
}
input.sheet-hpmodtoggle:not([value='0']) ~ div .sheet-hpmoddiv {
    height:15px
}
input.sheet-hpmodtoggle:not([value='on']) ~ div .sheet-hpmod {
    display: none;
}
input.sheet-spmodtoggle:not([value='on']) ~ div .sheet-spmoddiv {
    height:0px
}
input.sheet-spmodtoggle:not([value='0']) ~ div .sheet-spmoddiv {
    height:15px
}
input.sheet-spmodtoggle:not([value='on']) ~ div .sheet-spmod {
    display: none;
}
input.sheet-mpmodtoggle:not([value='on']) ~ div .sheet-mpmoddiv {
    height:0px
}
input.sheet-mpmodtoggle:not([value='0']) ~ div .sheet-mpmoddiv {
    height:15px
}
input.sheet-mpmodtoggle:not([value='on']) ~ div .sheet-mpmod {
    display: none;
}
input.sheet-speedmodtoggle:not([value='on']) ~ div .sheet-speedmoddiv {
    height:0px
}
input.sheet-speedmodtoggle:not([value='0']) ~ div .sheet-speedmoddiv {
    height:15px
}
input.sheet-speedmodtoggle:not([value='on']) ~ div .sheet-speedmod {
    display: none;
}
input.sheet-initmodtoggle:not([value='on']) ~ div .sheet-initmoddiv {
    height:0px
}
input.sheet-initmodtoggle:not([value='0']) ~ div .sheet-initmoddiv {
    height:15px
}
input.sheet-initmodtoggle:not([value='on']) ~ div .sheet-initmod {
    display: none;
}

.sheet-underheading
{
    color:gray;
    vertical-align: top;
    text-align: right;
    margin-bottom:-10px;
    text-overflow:visible;
}

img {
  max-height: 100px;
}

.sheet-stat-column{
    font-size:10px;
    color:black;
    background:#ebebeb;
    text-align: center;
    border-color:white;
    text-transform: uppercase;
}

.sheet-luck-grid{
    display:grid;
    grid-template-columns:25% 15% 15% 15% 15% 15%;
    border-spacing:0 5px;
    align-content: center;
    padding:1px;
    background:white;
    
 
}

.sheet-luck-column{
font-size:10px;
    color:black;
    text-align: center;
    text-transform: uppercase;
}

.sheet-full-border{
      border:1px solid; 
      box-sizing:border-box;
      justify-content: bottom;
}

.sheet-bottom-border{
      border-style:none none double none;
      border-width: 1px 1px 3px 1px;
      box-sizing:border-box;
      display:flex;
      justify-content: bottom;
}


.sheet-stat-column-noncase{
    font-size:10px;
    color:black;
    font-weight: bold;
    text-align: center;
}


.sheet-halfhalf{
    display:grid;
    grid-template-columns:49.5% 49.5%;
    justify-content:space-between;
    margin-left:5px;
}

.sheet-stat-box{
    font-size:15px;
    color:black;
    text-align: center;
    text-transform: uppercase;
    vertical-align:center;
    width:50px;
    height:50px;
    box-sizing:border-box;
    padding-bottom:10px;
}

.sheet-luck-box{
    font-size:15px;
    color:black;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-left:5px;
    width:30px;
    margin-bottom:2px;
    margin-top:2px;

}

.sheet-autocalc-box
{
    font-size:18px;
    color:black;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    height:50px;
    width:50px;
    box-sizing:border-box;
    background:#ebebeb;
    border-style:none none none none; 
    padding-top:5px;
}

.sheet-active-stat-grid
{
    display:grid;
    grid-template-columns:33.3% 33.3% 33.3%;
    background:white;
    border-style:none none none solid;
    border-width:0px;
}

.sheet-active-stat-box1 
{
    text-transform: uppercase;
    text-align:center;
    font-size:12px;
    font-weight: bold;
    vertical-align:bottom;
    background:white;
    align-self: stretch;
    border-width:1px;
    border-style:solid solid solid solid; 
    border-radius: 4px 4px 4px 4px;
    margin-left:6px;
    margin-right:6px;
    grid-column: 1;
    grid-row:1;
}
.sheet-active-stat-box2 
{
    text-transform: uppercase;
    text-align:center;
    font-size:12px;
    font-weight: bold;
    vertical-align:bottom;
    background:white;
    align-self: stretch;
    border-width:1px;
    border-style:solid solid solid solid; 
    border-radius: 4px 4px 4px 4px;
    margin-left:6px;
    margin-right:6px;
    grid-column: 2;
    grid-row:1;
}

.sheet-active-stat-box3 
{
    text-transform: uppercase;
    text-align:center;
    font-size:12px;
    font-weight: bold;
    vertical-align:bottom;
    background:white;
    align-self: stretch;
    border-width:1px;
    border-style:solid solid solid solid; 
    border-radius: 4px 4px 4px 4px;
    margin-left:6px;
    margin-right:6px;
    grid-column: 3;
    grid-row:1;
}

.sheet-skills-grid
{
    float:left;
    display:grid;
    width:375px;
    grid-template-columns:45% 40% 15%;
    margin-left:10px;
    margin-right:15px;
    margin-top:5px;
    padding:2px;
    background:#ebebeb;
}

.sheet-skills-grid-title{
    grid-column: 1 / span 4;
    text-align:center;
    background:white;
}

.sheet-skills-grid-name
{
    text-align:center;
    vertical-align:bottom;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
    margin-left:2px;
    margin-right:2px;
    grid-column: 1 / span 1;
}
.sheet-skills-grid-rank
{
    text-align:center;
    vertical-align:bottom;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
     margin-left:2px;
    margin-right:2px;
    grid-column: 2 / span 1;
}

.sheet-skills-grid-base
{
    text-align:center;
    vertical-align:bottom;
    padding-bottom:0px;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
    margin-left:2px;
    margin-right:2px;
    grid-column: 3 / span 1;
}

.sheet-skill-rank
{
    text-align:center;
    vertical-align:bottom;
    border-style:none none none none;
    background:#ebebeb;
    width:100%;
    height:40%;
    padding:0px;
    margin:0px;
}
.sheet-consume-stat-box
{
    vertical-align:top;
    text-align: center;
    box-sizing:border-box;
    border-collapse:separate;
    border-color:black;
    border-style:solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px 4px 4px 4px;
    background:white;
    width:20%;
    height:20px;
    padding-left:2px;
    padding-right:2px;
   
}

.sheet-consume-stat-title{
     font-size:10px;
     vertical-align:bottom;
     margin-bottom:0px;
      margin-top:-5px;
}

.sheet-consume-stat-calc{
    font-size:14px;
    color:black;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    height:50px;
    width:50px;
    box-sizing:border-box;
    background:#ebebeb;
    border-style:none none none none; 
    margin-top:-10px;
}

.sheet-mid-button{
    width:75px;
    height:15px;
    vertical-align:center;
    padding:0px;
    padding-bottom:2px;
}

.sheet-mini-button{
    height:15px;
    width:15px;
    box-sizing:border-box;
    text-align: center;
    vertical-align:top;
    padding:0px;
    align-self: top;
    justify-content: top;
    margin:0px;
    position:absolute;
}

.sheet-checkbox{
    color:black;
     width:50px;
         height:50px;
}

.sheet-columns {
  display: flex;
  justify-content: space-between;
}