/*Configure the tab buttons*/
.sheet-character,
.sheet-config,
.sheet-journal {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
	display: block;
}

input.sheet-hpmodtoggle:not([value='on']) ~ div .sheet-hpmoddiv {
    height:0px
}
input.sheet-hpmodtoggle:not([value='0']) ~ div .sheet-hpmoddiv {
    height:15px
}
input.sheet-hpmodtoggle:not([value='on']) ~ div .sheet-hpmod {
    display: none;
}
input.sheet-spmodtoggle:not([value='on']) ~ div .sheet-spmoddiv {
    height:0px
}
input.sheet-spmodtoggle:not([value='0']) ~ div .sheet-spmoddiv {
    height:15px
}
input.sheet-spmodtoggle:not([value='on']) ~ div .sheet-spmod {
    display: none;
}
input.sheet-mpmodtoggle:not([value='on']) ~ div .sheet-mpmoddiv {
    height:0px
}
input.sheet-mpmodtoggle:not([value='0']) ~ div .sheet-mpmoddiv {
    height:15px
}
input.sheet-mpmodtoggle:not([value='on']) ~ div .sheet-mpmod {
    display: none;
}
input.sheet-speedmodtoggle:not([value='on']) ~ div .sheet-speedmoddiv {
    height:0px
}
input.sheet-speedmodtoggle:not([value='0']) ~ div .sheet-speedmoddiv {
    height:15px
}
input.sheet-speedmodtoggle:not([value='on']) ~ div .sheet-speedmod {
    display: none;
}
input.sheet-initmodtoggle:not([value='on']) ~ div .sheet-initmoddiv {
    height:0px
}
input.sheet-initmodtoggle:not([value='0']) ~ div .sheet-initmoddiv {
    height:15px
}
input.sheet-initmodtoggle:not([value='on']) ~ div .sheet-initmod {
    display: none;
}

.sheet-underheading
{
    color:gray;
    vertical-align: top;
    text-align: right;
    margin-bottom:-10px;
    text-overflow:visible;
}

img {
  max-height: 100px;
}

.sheet-stat-column{
    font-size:10px;
    color:black;
    background:#ebebeb;
    text-align: center;
    border-color:white;
    text-transform: uppercase;
}

.sheet-check-container{
    font-size:10px;
    color:black;
    background:#ebebeb;
    text-align: center;
    border-color:white;
    text-transform: uppercase;
}



.sheet-stat-rollbutton
{
    font-size:10px;
    color:black;
    text-align:center;
    vertical-align:top;
    background: none;
    border: none;
    border-color:white;
    text-transform: uppercase;
    font-weight: bold
}
button[type=roll].sheet-stat-rollbutton::before
{
    background-image: none;
    content: "F"; 
    font-size:0;
    color: #ebebeb;
}

.sheet-luck-grid{
    display:grid;
    grid-template-columns:25% 15% 15% 15% 15% 15%;
    border-spacing:0 5px;
    align-content: center;
    padding:0px;
    background:white;
    border-width:1px;
    border-style:solid solid solid solid; 
    border-radius: 4px 4px 4px 4px;
}

.sheet-luck-column{
    font-size:10px;
    color:black;
    text-align: center;
    text-transform: uppercase;
}

.sheet-full-border{
      border:1px solid; 
      box-sizing:border-box;
      justify-content: bottom;
}

.sheet-bottom-border{
      border-style:none none double none;
      border-width: 1px 1px 3px 1px;
      box-sizing:border-box;
      display:flex;
      justify-content: bottom;
}


.sheet-stat-column-noncase{
    font-size:10px;
    color:black;
    font-weight: bold;
    text-align: center;
}


.sheet-halfhalf{
    display:grid;
    grid-template-columns:49.5% 49.5%;
    height:85px;
    justify-content:space-between;
    margin-left:5px;
}

.sheet-stat-box{
    font-size:15px;
    color:black;
    text-align: center;
    text-transform: uppercase;
    vertical-align:center;
    width:50px;
    height:50px;
    box-sizing:border-box;
    padding-bottom: 4px;
}

.sheet-luck-box{
    font-size:15px;
    color:black;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    align-self: stretch;
    padding-left:5px;
    width:30px;
    margin-bottom:2px;
    margin-top:2px;

}

.sheet-autocalc-box
{
    font-size:18px;
    color:black;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    height:50px;
    width:50px;
    box-sizing:border-box;
    background:#ebebeb;
    border-style:none none none none; 
    padding-top:5px;
}

.sheet-active-stat-grid
{
    display:grid;
    grid-template-columns:33.3% 33.3% 33.3%;
    background:white;
    border-style:none none none solid;
    border-width:0px;
}

.sheet-active-stat-box1 
{
    text-transform: uppercase;
    text-align:center;
    font-size:12px;
    font-weight: bold;
    vertical-align:bottom;
    background:white;
    align-self: stretch;
    border-width:1px;
    border-style:solid solid solid solid; 
    border-radius: 4px 4px 4px 4px;
    margin-left:6px;
    margin-right:6px;
    grid-column: 1;
    grid-row:1;
}
.sheet-active-stat-box2 
{
    text-transform: uppercase;
    text-align:center;
    font-size:12px;
    font-weight: bold;
    vertical-align:bottom;
    background:white;
    align-self: stretch;
    border-width:1px;
    border-style:solid solid solid solid; 
    border-radius: 4px 4px 4px 4px;
    margin-left:6px;
    margin-right:6px;
    grid-column: 2;
    grid-row:1;
}

.sheet-active-stat-box3 
{
    text-transform: uppercase;
    text-align:center;
    font-size:12px;
    font-weight: bold;
    vertical-align:bottom;
    background:white;
    align-self: stretch;
    border-width:1px;
    border-style:solid solid solid solid; 
    border-radius: 4px 4px 4px 4px;
    margin-left:6px;
    margin-right:6px;
    grid-column: 3;
    grid-row:1;
}

.sheet-skills-grid
{
    float:left;
    display:grid;
    width:350px;
    grid-template-columns:42.5% 42.5% 15%;
    margin-left:10px;
    margin-right:15px;
    padding:2px;
    border-width:4px;
    border-style:solid solid solid solid; 
    border-radius: 8px 8px 8px 8px;
    border-color:#ebebeb;
    background:#ebebeb;
}

.sheet-skills-grid-title{
    grid-column: 1 / span 4;
    text-align:center;
    background:white;
}

.sheet-skills-grid-name
{
    text-align:center;
    vertical-align:bottom;
    align-content:center;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
    margin-left:2px;
    margin-right:2px;
    grid-column: 1 / span 1;
}
.sheet-skills-grid-rank
{
    text-align:center;
    vertical-align:bottom;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
    margin-left:2px;
    margin-right:2px;
    grid-column: 2 / span 1;
}

.sheet-skills-grid-base
{
    text-align:center;
    vertical-align:bottom;
    padding-bottom:0px;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
    margin-left:2px;
    margin-right:2px;
    grid-column: 3 / span 1;
}

.sheet-profs-grid
{
    float:left;
    display:grid;
    width:350px;
    grid-template-columns:5% 37.5% 42.5% 15%;
    margin-left:10px;
    margin-right:15px;
    padding:2px;
    border-width:4px;
    border-style:solid solid solid solid; 
    border-radius: 8px 8px 8px 8px;
    border-color:#ebebeb;
    background:#ebebeb;
}

.sheet-profs-grid-toggle
{
    text-align:center;
    vertical-align:bottom;
    align-content:center;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
    margin-left:2px;
    margin-right:2px;
    grid-column: 1 / span 1;
}

.sheet-profs-grid-name
{
    text-align:center;
    vertical-align:bottom;
    align-content:center;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
    margin-left:2px;
    margin-right:2px;
    grid-column: 2 / span 1;
}
.sheet-profs-grid-rank
{
    text-align:center;
    vertical-align:bottom;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
    margin-left:2px;
    margin-right:2px;
    grid-column: 3 / span 1;
}

.sheet-profs-grid-base
{
    text-align:center;
    vertical-align:bottom;
    padding-bottom:0px;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
    margin-left:2px;
    margin-right:2px;
    grid-column: 4 / span 1;
}

.sheet-profs-toggle
{ 
    background:#ebebeb;
    margin-top:25%;
    margin-left:10%;
}

.sheet-profs-hide
{
    display:none;
}
.sheet-profs-toggle:checked ~ .sheet-profs-hide
{
     display:grid;
     grid-column:1/span 4;
     grid-template-columns:10% 30% 60%;

}

.sheet-profs-grid-name .sheet-profs-show
{
    text-align:center;
    vertical-align:bottom;
    align-content:center;
    margin-left:2px;
    margin-right:2px;
    background:#ebebeb;
    position:relative;
    z-index:1;
}

.sheet-profs-toggle:checked ~ .sheet-profs-grid-name .sheet-profs-show{
    position:relative;
    z-index:10;
    background:white;
}

.sheet-skill-rank
{
    text-align:center;
    vertical-align:bottom;
    border-style:none none none none;
    background:#ebebeb;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}
.sheet-skill-rollbutton
{
    text-align:top;
    vertical-align:top;
    background: none;
    border: none;
    width:82.5%;
    padding:0px;
    margin:0px;
    font-size:10px;
}
button[type=roll].sheet-skill-rollbutton::before
{
    background-image: none;
    content: "F"; 
    font-size:0;
    color: #ebebeb;
}

[data-groupname=repeating_talents] > button.btn.repcontrol_add::after {
    content: "+ Add Talent";
    background-color:#FFF;
    margin-left:-30px;
}
[data-groupname=repeating_traits] > button.btn.repcontrol_add::after {
    content: "+ Add Trait";
    background-color:#FFF;
    margin-left:-30px;
}

[data-groupname=repeating_professions] > button.btn.repcontrol_add::after {
    content: "+ Add Profession";
    background-color:#FFF;
    margin-left:-30px;
}

[data-groupname=repeating_professions] > button.btn.repcontrol_add {
    grid-column: 1;
    grid-row: 1;
}

[data-groupname=repeating_professions] > button.btn.repcontrol_edit {
    grid-column: 2;
    grid-row: 1;
}

.sheet-profs-grid >.repcontrol
{
    grid-column: 1;
    display: grid;
    grid-template-columns: 30% 20%;
    grid-gap: 50%;
    grid-template-rows: auto;
    width: 350px;
}

.charsheet .repcontrol_add,
.charsheet .repcontrol_add:focus,
.charsheet .repcontrol_edit{
    display: block;
    background: #FFF;
    color: black;
    box-shadow:none;
    border:0px;
    outline:0px;
    font-size:0.9em;
    height:17.5px;
    margin-top:3px;
}

.sheet-right-aligned
{
    position:absolute;
    left:422.5px;
}

.sheet-traits-grid{
   
    display:grid;
    width:350px;
    margin-top:5px;
    padding:2px;
    border-width:4px;
    border-style:solid solid solid solid; 
    border-radius: 8px 8px 8px 8px;
    border-color:#ebebeb;
    background:#ebebeb;
}

.repeating_traits
{  
    vertical-align:bottom;
    align-content:center;
    padding-left:15px;
    border-style:none none solid none;
    border-width:1px;
    border-color:#9c928c;
}

.sheet-trait-int-grid
{
    display:grid;
    padding-left:5px;
    grid-template-columns:5% 95%;
}

.sheet-traits-toggle
{ 
    background:#ebebeb;
    grid-column: 1;
    margin-top:45%;
}

.sheet-traits-name
{
    font-weight:bold;
    text-align:left;
    background:#ebebeb;
    width:90%;
    border-style:none none solid none;
    border-radius: 0px 0px 0px 0px;
    border-width:1px;
    padding:0px;
    padding-top:5px;
    grid-column: 2;
}

.sheet-traits-desc
{
    font-weight:normal;
    text-align:left;
    background:#ebebeb;
    border-style:none none solid none;
    border-width:1px;
    padding:0px;
    margin-left:5%;
    margin-top:5px;
    width:95%;
    height:60px;
    min-height:20px;
    resize:vertical;
}
.sheet-traits-hide
{
    display:none;
}
.sheet-traits-toggle:checked ~ .sheet-traits-hide
{
    display:block;
    grid-column: 1 / span 2;
    width:100%;
}

.sheet-consume-stat-box
{
    vertical-align:top;
    text-align: center;
    box-sizing:border-box;
    border-collapse:separate;
    border-color:black;
    border-style:solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px 4px 4px 4px;
    background:white;
    width:20%;
    height:15px;
    padding-left:2px;
    padding-right:2px;
   
}

.sheet-consume-stat-title{
     font-size:10px;
     vertical-align:bottom;
     margin-bottom:0px;
     margin-top:-5px;
}

.sheet-consume-stat-calc{
    font-size:14px;
    color:black;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    height:50px;
    width:50px;
    box-sizing:border-box;
    background:#ebebeb;
    border-style:none none none none; 
    margin-top:-10px;
}

.sheet-combat-health-grid
{
    display:grid;
}

.sheet-combat-body-image
{
    height:900px;
    width:400px;
}

.sheet-combat-location
{

}

.sheet-mid-button{
    width:75px;
    height:15px;
    vertical-align:center;
    padding:0px;
    padding-bottom:2px;
}

.sheet-mini-button{
    height:15px;
    width:15px;
    box-sizing:border-box;
    text-align: center;
    vertical-align:top;
    padding:0px;
    align-self: top;
    justify-content: top;
    margin:0px;
    position:absolute;
}

.sheet-checkbox{
    color:black;
    width:50px;
    height:50px;
}

.sheet-columns {
    display: flex;
    justify-content: space-between;
}

.sheet-rolltemplate-check
{
    padding-top:5px;
    margin-right:37px;
    padding-bottom:2px;
}

.sheet-rolltemplate-check-container
{
    border: 1px solid;
}
.sheet-rolltemplate-check-header
{
    text-align: left;
    background:#242424;
    padding: 5px;
}
.sheet-rolltemplate-check-content
{
    display: grid;
    background: #FFF;
    /* Header formatting - modify the column layout below */
    grid-template-columns: 35% 65%;
   
    /* Line height to match default roll template */
    line-height:1.4em;

}
.sheet-rolltemplate-check-title
{
    text-align: left;
    color:white;
    font-weight: bold;
}
.sheet-rolltemplate-check-subtitle
{
    text-align: left;
    color:white;
}
.sheet-rolltemplate-check-key
{
    font-weight: bold;
    padding-right: 10px;
    padding-left:10px;
    padding-bottom:5px;
    padding-top:5px;
    text-align: left;
    width:100%;
}
.sheet-rolltemplate-check-value
{
    padding-bottom:5px;
    padding-top:5px;
    text-align: left;
    width:100%;
    background:#FFF;
    color:black;
}

.sheet-rolltemplate-check-crit
{
     grid-column: 1 / span 2;
     font-weight: bold;
     text-align: center;
     padding-top:5px;
     padding-bottom:5px;
     color:#007a04;
     background:#f2fff2;
     border-style:double none none none;
     border-color:#007a04;
}
.sheet-rolltemplate-check-fumble
{
     grid-column: 1 / span 2;
     font-weight: bold;
     text-align: center;
     padding-top:5px;
     padding-bottom:5px;
     color:#7a0000;
     background:#fff2f2;
     border-style:double none none none;
     border-color:#7a0000;
}
.sheet-rolltemplate-check-content :nth-child(4n+3),
.sheet-rolltemplate-check-content :nth-child(4n) {
  background:#EEE;
}